<form action="<%= session_url %>" method="POST">
  <%= authenticity_token %>
  <label for="session-email">Email:</label>
  <input id="session-email" type="email" name="user[email]">
  
  <label for"session-password">Password:</label>
  <input id="session-password" type="password" name="user[password]">
  
  <button>Log In</button>
</form>