<div class="show-modal"><%= card.escape('name') %></div>

<div class="card-modal modal display-off">
  <div class="modal-overlay hide-modal"></div>
  
  <div class="modal-content">
    <h3>
      <%= card.escape('name') %> 
      <h6> in list </h6> 
      <h5> <%= card.escape('list_id') %></h5>
    </h3>
    
    <span class="exit hide-modal">&times;</span>
    <br>
    
    <h6>Description</h6>
    <p><%= card.escape('description') %></p>
    
    <ul class="checklists-list"></ul>
  </div>
</div>