<h6>Create Board</h6>
<span class="exit">&times;</span>

<form class="board-new-form">
  <label for="board-title">Title</label>
  <input id="board-title" 
    type="text"
    name="board[name]" 
    placeholder="Untitled Board">

  <button class="green-button">Create</button>
</form>