<ul class="lists-list">
</ul>

<div class="new-list">
  <div class="new-list-button">Add a new list...</div>
  <form class="new-list-form display-off">
    <input type="text" name="list[name]">
  </form>
</div>