<h2><%= board.escape('name') %></h2>

<ul class="lists-list clear-fix">
  <li class="new-list">
    <div class="new-list-button">Add a list...</div>
    <form class="new-list-form display-off">
      <input type="text" name="list[name]" placeholder="Add a list...">
      <button class="green-button">Save</button>
      <span class="exit">&times;</span>
    </form>
  </li>
</ul>
