<ul>
  <% board.lists().each(function(list) { %>
    <li><%= list.escape('name') %></li>
  <% }) %>
</ul>

<div class="new-list">
  <form class="new-list-form">
    <input type="text" name="list[name]">
  </form>
</div>