<div class="checklist-name clear-fix">
  <h3 class="checklist-name-text"><%= checklist.escape('name') %></h3>
  <span class="delete delete-checklist">Delete...</span>
</div>

<div class="progress-bar clear-fix"></div>
<ul class="items-list"></ul>

<div class="new-item">
  <div class="new-item-button">Add an item...</div>
  
  <form class="new-item-form display-off">
    <textarea name="item[name]" placeholder="Add an item..."></textarea>
    <button class="green-button">Add</button>
    <span class="exit">&times;</span>
  </form>
</div>