<input class="item-checkbox" 
  type="checkbox" 
  name="item[completed]"
  <% if (JSON.parse(item.escape('completed'))) { %>
    <%= 'checked' %>
  <% } %>>
  
<span class="item-name"><%= item.escape('name') %></span>