<header id="site-header"></header>
<main id="content">
  <article class="loading">
    <img class="loading-img" src="<%= asset_url('loading.gif') %>">
  </article>
</main>

<script>
  $(document).ready(function(){
    window.currentUserId = <%= current_user.id %>
    TrelloClone.initialize();
  });
</script>