<header id="site-header"></header>
<main id="content">Loading...</main>

<script>
  $(document).ready(function(){
    window.currentUserId = <%= current_user.id %>
    TrelloClone.initialize();
  });
</script>