<header id="site-header"></header>
<main id="content">Loading...</main>

<script>
  window.currentUserId = <%= current_user.id %>

  $(document).ready(function(){
    TrelloClone.initialize();
  });
</script>