<ul class="site-header-left clear-fix">
  <li>Boards</li>
  <li id="search-bar">
    <form>
      <input type="search" name="search[query]">
    </form>
  </li>
</ul>

<div class="logo"><a href="#">Trello</a></div>

<ul class="site-header-right clear-fix">
  <li id="new-board">&plus;</li>
  <li>Profile</li>
  <li>Alerts</li>
  <li class="right-dropdown display-off"></li>
</ul>