/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, section, h1, h2, h3, h4, 
h5, ul, li, a, input, textarea, button {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  box-sizing: content-box;
  outline: none;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: tahoma;
}

.clear-fix:after {
  content: '';
  display: block;
  clear: both;
}

.display-off {
  display: none;
}

.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #eee;
  border-radius: 5px;
}

/* ----- Pages ----- */

/* Header */

#site-header {
  background: #1D5881;
  color: #fff;
}

.site-header-left {
  float: left;
}

.site-header-right {
  float: right;
  position: relative;
}

.site-header-left li,
.site-header-right li {
  float: left;
}

.site-header-right .right-dropdown {
  clear: both;
  position: absolute;
  top: 20px;
  right: 0;
  color: #000;
}

/* Site main */

/* ----- Boards ----- */

/* Board new */

.board-new {
  background: #fff;
  border: 1px solid #aaa;
}

.board-new-form {
  color: #000;
}

/* ----- Lists ----- */

/* ----- Cards ----- */

