/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, section, h1, h2, h3, h4, 
h5, h6, ul, li, a, input, textarea, button {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  outline: none;
  background: transparent;
  font-weight: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: sans-serif;
  background: rgb(35, 113, 159);
}

.home-page {
  background: #fff;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

textarea {
  background: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
}

.clear-fix:after {
  content: '';
  display: block;
  clear: both;
}

.display-off {
  display: none;
}

.exit {
  font-size: 30px;
  font-weight: bold;
  color: #aaa;
}

.exit:hover {
  cursor: pointer;
}

.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #eee;
  border-radius: 5px;
}

.green-button {
  background: #1F8D1C;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #46A045;
  padding: 8px 18px;
}

.green-button:hover {
  cursor: pointer;
  background: #1D7D15;
}

/* ----- Pages ----- */

/* Header */

#site-header {
  background: rgb(20, 98, 144);
  color: #fff;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 30px;
}

#site-header .logo {
  position: absolute;
  left: 50%;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  margin: 6px;
  margin-left: -34px;
  opacity: 0.5;
  transition: 0.2s;
  font-style: italic;
  font-size: 20px;
}

#site-header .logo:hover {
  cursor: pointer;
  opacity: 1;
}

.site-header-left {
  float: left;
}

.site-header-right {
  float: right;
  position: relative;
}

#site-header li {
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #2D6286;
  border-radius: 5px;
  margin: 5px 0;
}

#site-header .site-header-left li {
  margin-left: 10px;
}

#site-header .site-header-right li {
  margin-right: 10px;
}

#site-header li:hover {
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

#site-header #search-bar {
  cursor: text;
}

.site-header-right .right-dropdown {
  clear: both;
  position: absolute;
  padding: 0;
  background: #fff;
  border: 1px solid #ddd;
  top: 20px;
  right: 0;
  color: #000;
}

/* ----- Boards ----- */

/* Board index */

.boards-index h2 {
  color: #fff;
}

.board {
  float: left;
}

.board a {
  display: block;
  color: #fff;
  font-weight: bold;
  background: #1D5A89;
  padding: 15px;
  height: 80px;
  width: 220px;
  border-radius: 5px;
  border: 1px solid #507E9B;
  margin: 7px;
}

.board a:hover {
  background: #184675;
}

/* Board new */

.board-new-form {
  color: #000;
}

/* Board show */

.board-show > h2 {
  color: #fff;
}

/* ----- Lists ----- */

/* List show */

.list {
  float: left;
  width: 250px;
  background: #ddd;
  margin: 20px 5px;
  border-radius: 5px;
  border: 1px solid #8FACBF;
}

.list h3 {
  padding: 10px;
  padding-bottom: 0;
}

/* List new */

.new-list {
  float: right;
  margin: 20px 0;
}

.new-list-button {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  width: 230px;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  transition: 0.2s;
}

.new-list-button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}

.new-list-form {
  background: #ddd;
  width: 240px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #8FACBF;
}

.new-list-form input[type="text"] {
  background: #ccc;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #aaa;
}

/* ----- Cards ----- */

.card {
  background: #fff;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 1px 0 #bbb;
}

.card:hover {
  cursor: pointer;
  background: #eee;
}

.new-card-button {
  color: rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.new-card-button:hover {
  cursor: pointer;
  background: #aaa;
}

.new-card textarea {
  height: 80px;
  width: 230px;
  padding: 10px;
  margin: 0 10px;
}

.new-card button {
  margin: 10px;
  margin-top: 0;
}

.card-modal h5,
.card-modal h6 {
  display: inline;
}



