<h3><%= list.escape('name') %></h3>
<ul class="cards-list"></ul>

<div class="new-card">
  <div class="new-card-button">Add a card...</div>
  <form class="new-card-form display-off">
    <textarea name="card[name]"></textarea>
    <button class="green-button">Add</button>
    <span class="exit">&times;</span>
  </form>
</div>